---
- hosts: seed-hosts[0]
  vars:
    scm_url: https://github.com/labs-robot/labs-ci-cd.git
    regexp_replace_pairs:
      - regexp: '^((?!.*DISPLAY_NAME))(.*NAMESPACE.*)=((?!.*{{ project_name_postfix }}))(.*)$'
        replace: '\2=\4{{ project_name_postfix }}'
      - regexp: '^(NAMESPACE_DISPLAY_NAME)=((?!.*\({{ project_name_postfix }}\)))(.*)$'
        replace: '\1=\3 ({{ project_name_postfix }})'
      - regexp: '(SOURCE_REPOSITORY_URL)=(https:\/\/github\.com\/rht-labs\/labs-ci-cd.*)((\n.*)+)(SOURCE_REPOSITORY_REF)=(.*)'
        replace: '\1={{ scm_url }}\3\5={{ scm_ref }}'
  roles:
    - make-projects-unique
    - casl-ansible/roles/openshift-applier
