---
ansible_connection: local
openshift_cluster_content:
- galaxy_requirements: "{{ playbook_dir }}/galaxy_requirements.yml"
- object: ci-cd-builds
  content:
  - name: jenkins-s2i
    template: "{{ playbook_dir }}/openshift-templates/jenkins-s2i-build/template.yml"
    params: "{{ playbook_dir }}/params/jenkins/build"
    namespace: "{{ ci_cd_namespace }}"
    tags:
    - jenkins
  - name: tool-box
    template: "{{ playbook_dir }}/openshift-templates/docker-build/template.yml"
    params: "{{ playbook_dir }}/params/tool-box/build"
    namespace: "{{ ci_cd_namespace }}"
    tags:
      - tool-box
  - name: hoverfly
    template: "{{ playbook_dir }}/openshift-templates/docker-build/template.yml"
    params: "{{ playbook_dir }}/params/hoverfly/build"
    namespace: "{{ ci_cd_namespace }}"
    tags:
      - hoverfly
  - name: sonarqube
    template: "{{ playbook_dir }}/openshift-templates/docker-build/template.yml"
    params: "{{ playbook_dir }}/params/sonarqube/build"
    namespace: "{{ ci_cd_namespace }}"
    tags:
      - sonarqube     
- object: jenkins-slave-nodes
  content:
  - name: jenkins-slave-mvn
    template: "https://raw.githubusercontent.com/redhat-cop/containers-quickstarts/v1.1/jenkins-slaves/templates/jenkins-slave-generic-template.yml"
    params: "{{ playbook_dir }}/params/jenkins-slaves/mvn"
    namespace: "{{ ci_cd_namespace }}"
    tags:
    - jenkins-slaves
    - mvn-slave
  - name: jenkins-slave-npm
    template: "https://raw.githubusercontent.com/redhat-cop/containers-quickstarts/v1.1/jenkins-slaves/templates/jenkins-slave-generic-template.yml"
    params: "{{ playbook_dir }}/params/jenkins-slaves/npm"
    namespace: "{{ ci_cd_namespace }}"
    tags:
    - jenkins-slaves
    - npm-slave
  - name: jenkins-slave-zap
    template: "https://raw.githubusercontent.com/redhat-cop/containers-quickstarts/v1.1/jenkins-slaves/templates/jenkins-slave-generic-template.yml"
    params: "{{ playbook_dir }}/params/jenkins-slaves/zap"
    namespace: "{{ ci_cd_namespace }}"
    tags:
    - jenkins-slaves
    - zap-slave
  - name: jenkins-slave-ansible
    template: "https://raw.githubusercontent.com/redhat-cop/containers-quickstarts/v1.1/jenkins-slaves/templates/jenkins-slave-generic-template.yml"
    params: "{{ playbook_dir }}/params/jenkins-slaves/ansible"
    namespace: "{{ ci_cd_namespace }}"
    tags:
      - jenkins-slaves
      - ansible-slave
  - name: jenkins-slave-arachni
    template: "https://raw.githubusercontent.com/redhat-cop/containers-quickstarts/v1.1/jenkins-slaves/templates/jenkins-slave-generic-template.yml"
    params: "{{ playbook_dir }}/params/jenkins-slaves/arachni"
    namespace: "{{ ci_cd_namespace }}"
    tags:
      - jenkins-slaves
      - arachni-slave
  - name: jenkins-slave-gradle
    template: "https://raw.githubusercontent.com/redhat-cop/containers-quickstarts/v1.1/jenkins-slaves/templates/jenkins-slave-generic-template.yml"
    params: "{{ playbook_dir }}/params/jenkins-slaves/gradle"
    namespace: "{{ ci_cd_namespace }}"
    tags:
      - jenkins-slaves
      - gradle-slave
  - name: jenkins-slave-golang
    template: "https://raw.githubusercontent.com/redhat-cop/containers-quickstarts/v1.1/jenkins-slaves/templates/jenkins-slave-generic-template.yml"
    params: "{{ playbook_dir }}/params/jenkins-slaves/golang"
    namespace: "{{ ci_cd_namespace }}"
    tags:
      - jenkins-slaves
      - golang-slave
  - name: jenkins-slave-mongodb
    template: "https://raw.githubusercontent.com/redhat-cop/containers-quickstarts/v1.1/jenkins-slaves/templates/jenkins-slave-generic-template.yml"
    params: "{{ playbook_dir }}/params/jenkins-slaves/mongodb"
    namespace: "{{ ci_cd_namespace }}"
    tags:
      - jenkins-slaves
      - mongodb-slave
  - name: jenkins-slave-python
    template: "https://raw.githubusercontent.com/redhat-cop/containers-quickstarts/v1.3/jenkins-slaves/templates/jenkins-slave-generic-template.yml"
    params: "{{ playbook_dir }}/params/jenkins-slaves/python"
    namespace: "{{ ci_cd_namespace }}"
    tags:
      - jenkins-slaves
      - python-slave
- object: ci-cd-deployments
  content:
  - name: sonarqube
    template: "{{ playbook_dir }}/openshift-templates/sonarqube/template.yml"
    params: "{{ playbook_dir }}/params/sonarqube/deploy"
    namespace: "{{ ci_cd_namespace }}"
    tags:
    - sonarqube
  - name: sonarqube-postgresql
    template: "openshift//postgresql-persistent"
    params: "{{ playbook_dir }}/params/sonarqube/postgresql"
    namespace: "{{ ci_cd_namespace }}"
    tags:
    - sonarqube
  - name: nexus
    template: "{{ playbook_dir }}/openshift-templates/nexus/template.yml"
    params: "{{ playbook_dir }}/params/nexus/deploy"
    namespace: "{{ ci_cd_namespace }}"
    tags:
    - nexus
    post_steps:
    - role: "labs-ci-cd/roles/configure-nexus"
  - name: jenkins-persistent
    template: "{{ playbook_dir }}/openshift-templates/jenkins/jenkins-persistent-template.yml"
    params: "{{ playbook_dir }}/params/jenkins/deploy"
    namespace: "{{ ci_cd_namespace }}"
    tags:
    - jenkins
  - name: hoverfly
    template: "{{ playbook_dir }}/openshift-templates/hoverfly/template.yml"
    params: "{{ playbook_dir }}/params/hoverfly/deploy"
    namespace: "{{ ci_cd_namespace }}"
    tags:
    - hoverfly
